// colors
$white: #ffffff;
$black: #000000;
$wild-sand: #f4f4f4;
$iron: #dfe0e0;
$mercury: #e2e2e2;
$nevada: #6c6f70;
$outer-space: #2e3233;
$turquoise: #00b0ca;
$double-pearl-lusta: #fbf8cd;
$banana-mania: #faeaab;
$cream-can: #f6d359;
$corn: #f6bc07;
$california: #f3a104;
$tahiti-gold: #eb8405;
$christine: #de770d;
$orange-roughy: #bb6417;
$oslo-gray: #969899;